body {
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}

h1 {
    margin-top: 50px !important;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder !important;
}

img {
    height: 500px;
    border-radius: 10px;
    width:100%;
}